@model IEnumerable<Superhero_Project.Models.Superhero>

@{
    ViewBag.Title = "Index";
}


<img src="~/images/superman.jpg" alt="superman" />
<h2> Chris' devCodeCamp List of Superheroes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuperheroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuperheroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlterEgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatchPhrase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
